{% extends 'core/templates/adminViewTemplate.html' %}
{% block 'adminContent' %}
<form class="mb-3" action="{% url 'adminCategories' %}" method="GET">
{% csrf_token %}
    <div class="input-group">
		<input class="searchbar form-control" name="adminCategoriesSearchQuery" id="searchCategories" placeholder="Buscar en Categorías"></input>
      	<div class="input-group-append">
        	<button class="btn btn-gowest"><span class="icon fa fa-search"></span></button>
      	</div>
    </div>
</form>
<div class="table-responsive">
	<table class="table table-hover align-middle">
		<thead>
			<tr>
			<th>Nombre</th>
			<th>Estado</th>
			<th></th>
			</tr>
		</thead>
		<tbody id="tableCategoriesBody">
			{% for category in adminCategories %}
				<tr {% if not category.is_active %} class="table-secondary text-muted"{% endif %}>
					<td data-type="string">{{ category.name }}</td>
					<td class="d-none d-sm-table-cell">{% if category.is_active %} Activa {% else %} Desactivada {% endif %}</td>
					<td class="text-right">
						<button class="btn btn-success" data-toggle="modal" data-target="#categoryDataModal" data-id="{{ category.id }}" data-name="{{ category.name }}" onclick="prepareCategoryModal(this)">
							<span class="icon fa fa-pencil"></span></button>
					{% if category.is_active %}
						<button class="btn btn-danger" data-toggle="modal" data-target="#deleteAlertModal" data-id="{{ category.id }}" data-name="{{ category.name }}" onclick="confirmDeleteCategory(this)">
							<span class="icon fa fa-ban"></span></button>
					{% else %}
						<button class="btn btn-info" data-toggle="modal" data-target="#activateAlertModal" data-id="{{ category.id }}" data-name="{{ category.name }}" onclick="confirmActivateCategory(this)">
							<span class="icon fa fa-check"></span></button>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="container p-3 fr text-right">
	<button class="btn btn-success" data-toggle="modal" data-target="#categoryDataModal" onclick="prepareCategoryModal()">Añadir Categoría</button>
</div>
{% include 'core/modals/categoryDataModal.html' %}
{% include 'core/modals/deleteAlertModal.html' %}
{% include 'core/modals/activateAlertModal.html' %}
{% endblock 'adminContent' %}