{% extends 'core/templates/adminViewTemplate.html' %}
{% block 'adminContent' %}
<form class="mb-3" action="{% url 'adminClients' %}" method="GET">
{% csrf_token %}
    <div class="input-group">
		<input class="searchbar form-control" name="adminClientsSearchQuery" id="searchClients" placeholder="Buscar en Clientes"></input>
      	<div class="input-group-append">
        	<button class="btn btn-gowest"><span class="icon fa fa-search"></span></button>
      	</div>
    </div>
</form>
<div class="table-responsive">
	<table class="table table-hover align-middle">
		<thead>
			<tr>
			<th>Nombre</th>
			<th class="d-none d-sm-table-cell">RUT</th>
			<th>Correo</th>
			<th class="d-none d-sm-table-cell">Teléfono</th>
			<th class="d-none d-sm-table-cell">Suscrito Fundación</th>
			<th></th>
			</tr>
		</thead>
		<tbody id="tableClientsBody">
			{% for user in users %}
			<tr>
				<td data-type="string">{{ user.name }} {{ user.surname }}</td>
				<td class="d-none d-sm-table-cell" data-type="string">{{ user.rut }}</td>
				<td data-type="string">{{ user.mail }}</td>
				<td class="d-none d-sm-table-cell" data-type="string">{{ user.phone }}</td>
				<td class="d-none d-sm-table-cell" data-type="string">{# show if subscribed. requires API call #}</td>
				<td class="text-right"><button class="btn btn-success"
					data-toggle="modal" data-target="#clientDataModal"
					onclick="prepareClientModal(this)" data-id="{{ user.rut }}">
					<span class="icon fa fa-search"></span></button>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% include 'core/modal/clientDataModal.html' %}
{% endblock 'adminContent' %}