{% extends 'core/templates/adminViewTemplate.html' %}
{% block 'adminContent' %}
<div class="container mt-3">
	<h4>Datos</h4>
	<form action="{% url 'processAdminAccountChanges' type='data' %}" method="POST" onsubmit="validateAdminAccountForm(event)">
		{% csrf_token %}
		<div class="row form-group">
			<div class="col-sm-6">
				<label for="name">Nombre</label>
				<input id="adminName" name="adminName" class="form-control" value="{{ user.name }}">
			</div>
			<div class="col-sm-6">
				<label for="surname">Apellido</label>
				<input id="adminSurname" name="adminSurname" class="form-control" value="{{ user.surname }}">
			</div>
		</div>
		<div class="form-group">
			<label for="phone">Teléfono</label>
			<input id="adminPhone" name="adminPhone" class="form-control" value="{{ user.phone }}">
		</div>
		<div class="form-group text-right">
			<input id="adminSaveData" type="submit" value="Guardar" class="btn btn-success">
		</div>
	</form>
	<hr>
	<h4>Seguridad</h4>
	<form action="{% url 'processAdminAccountChanges' type='password' %}" method="POST" onsubmit="validateAdminPasswordForm(event)">
	{% csrf_token %}
		{% if request.session.recoverPass %}
			<div class="alert alert-danger" role="alert">Ha ingresado mediante la recuperación de contraseña. Ingrese una nueva contraseña.</div>
		{% else %}
			<div class="form-group">
				<label for="oldPassword">Contraseña actual</label>
				<input type="password" id="oldPassword" name="adminOldPassword" class="form-control">
			</div>
		{% endif %}
		<div class="row form-group">
			<div class="col-sm-6">
				<label for="pass">Nueva Contraseña</label>
				<input id="adminPass" type=password name="adminPassword" class="form-control">
			</div>
			<div class="col-sm-6">
				<label for="newPassConfirm">Repetir Nueva Contraseña</label>
				<input id="adminPassConfirm" type=password name="adminPasswordConfirm" class="form-control">
			</div>
			<div id="passGuides">
				Su contraseña debe tener lo siguiente:
				<ul>
					<li>Longitud mínima de 8</li>
					<li>Longitud máxima de 40</li>
					<li>Incluír dígitos numéricos</li>
					<li>Incluir al menos uno de los siguientes caractreres: ! # @ $ % &</li>
					<li>Incluír al menos una letra mayúscula</li>
				</ul>
			</div>
		</div>
		<div class="form-group text-right">
			<input id="adminSaveSecurity" type="submit" value="Guardar Nueva Contraseña" class="btn btn-success">
		</div>
	</form>
	<form action="{% url 'processAdminAccountChanges' type='secQuestion' %}" method="POST" onsubmit="validateAdminSecQuestionForm(event)">
	{% csrf_token %}
		<div class="form-group">
			<label for="oldSecAnswer">Ingrese su respuesta de seguridad actual: </label>
			<span>{{ user.secQuestion.question }}</span>
			<input id="oldSecAnswer" name="adminOldSecAnswer" class="form-control">
		</div>
		<div class="row form-group">
			<div class="col-sm-6">
				<label for="secQuestion">Cambiar Pregunta de Seguridad</label>
				<select id="adminSecQuestion" name="adminSecQuestion" class="form-control" value="{# SESSION['user'].secQuestion.id #}">
					{% for secQuestion in secQuestions %}
						<option value="{{ secQuestion.id }}">{{ secQuestion.question }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-6">
				<label for="secAnswer">Cambiar Respuesta de Seguridad</label>
				<input id="adminSecAnswer" name="adminSecAnswer" class="form-control">
			</div>
		</div>
		<div class="form-group text-right">
			<input id="adminSaveSecurity" type="submit" value="Guardar Datos de Recuperación" class="btn btn-success">
		</div>
	</form>
</div>
{% endblock 'adminContent' %}