<form class="mt-3 mb-3" onsubmit="searchSales()">
    <div class="input-group">
		<input class="searchbar form-control" id="searchSales" placeholder="Buscar en Ventas"></input>
      	<div class="input-group-append">
        	<button class="btn btn-gowest"><span class="icon fa fa-search"></span></button>
      	</div>
    </div>
</form>
<div class="table-responsive">
	<table class="table table-hover align-middle">
		<thead>
			<tr>
			<th>Código</th>
			<th class="d-none d-sm-table-cell">ID Cliente</th>
			<th>Fecha Venta</th>
			<th class="d-none d-sm-table-cell">Fecha Entrega</th>
			<th>Estado</th>
			<th></th>
			</tr>
		</thead>
		<tbody id="tableSalesBody">
			<script>
				selectAllFrom("sales").then(data=>{
					var tBody=get("tableSalesBody")
					for(row of data){
						var tRow=document.createElement("tr");
						tBody.appendChild(tRow)
						tRow.outerHTML="<tr>"+
						`<td data-type="string">${row["id"]}</td>`+
						`<td class="d-none d-sm-table-cell" data-type="string">${row["userID"]}</td>`+
						`<td data-type="date">${row["saleDate"]}</td>`+
						`<td class="d-none d-sm-table-cell" data-type="date">${row["deliveryDate"]}</td>`+
						`<td data-type="string">${formatSaleStatus(row["status"])}</td>`+
						`<td class="text-right">`+
						(row["status"]=="Pagada"?`<button class="btn btn-danger"`+
							`data-toggle="modal" data-target="#saleAlertModal"`+
							`onclick="confirmSaleShipment(this)" data-id=${row["id"]}>`+
							`<span class="icon fa fa-truck"></span></button>`:"")+
						`<button class="btn btn-success"`+
							`data-toggle="modal" data-target="#saleDataModal"`+
							`onclick="prepareSaleModal(this)" data-id=${row["id"]}>`+
							`<span class="icon fa fa-search"></span></button>`+
						`</tr>`;
					}
				});
			</script>
		</tbody>
	</table>
</div>
<ihtml src="templates/saleDataModal.html"></ihtml>
<ihtml src="templates/saleAlertModal.html"></ihtml>