{% extends 'core/templates/adminViewTemplate.html' %}
{% block 'adminContent' %}
<form class="mb-3" action="{% url 'adminAdministrators' %}" method="GET">
	{% csrf_token %}
    <div class="input-group">
		<input class="searchbar form-control" name="adminAdministratorsSearchQuery" id="searchAdmins" placeholder="Buscar en Administradores"></input>
      	<div class="input-group-append">
        	<button class="btn btn-gowest"><span class="icon fa fa-search"></span></button>
      	</div>
    </div>
</form>
<div class="table-responsive">
	<table class="table table-hover align-middle">
		<thead>
			<tr>
			<th>Nombre</th>
			<th class="d-none d-sm-table-cell">RUT</th>
			<th>Correo</th>
			<th class="d-none d-sm-table-cell">Teléfono</th>
			<th></th>
			</tr>
		</thead>
		<tbody id="tableAdministratorsBody">
			{% for admin in admins %}
			<tr>
				<td data-type="string">{{ admin.name }} {{ admin.surname }}</td>
				<td class="d-none d-sm-table-cell" data-type="string">{{ admin.rut }}</td>
				<td data-type="string">{{ admin.mail }}</td>
				<td class="d-none d-sm-table-cell" data-type="string">{{ admin.phone }}</td>
				<td class="text-right"><button class="btn btn-success"
					data-toggle="modal" data-target="#administratorDataModal"
					onclick="prepareAdministratorModal(this)" data-id="{{ admin.id }}">
					<span class="icon fa fa-search"></span></button>
					<button class="btn btn-danger {% if admin.id == request.session.uID %}disabled{% endif %}" {% if admin.id == request.session.uID %} disabled {% endif %} data-toggle="modal"
					data-id="{{ admin.id }}" data-target="#deleteAlertModal" onclick="confirmDeleteAdministrator(this)">
					<span class="icon fa fa-trash"></span></button></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="container p-3 fr text-right">
	<button class="btn btn-success" data-toggle="modal" data-target="#administratorDataModal" onclick="prepareAdministratorModal()">Añadir Administrador</button>
</div>
{% include 'core/modals/administratorDataModal.html' %}
{% include 'core/modals/deleteAlertModal.html' %}
{% endblock 'adminContent' %}