<h2 class="text-center">Bienvenido/a a la página de administración</h2>
<p><span class="d-none d-md-inline">Al costado</span><span class="d-inline d-md-none">En la barra superior</span> se encuentran
    las pestañas de administración:
    <ul>
		<li>La pestaña <b>Cuenta</b> le permite actualizar sus datos o cambiar sus
		parámetros de seguridad.</li>
        <li>La pestaña <b>Productos</b> muestra una lista de los productos que vende
        la tienda.</li>
        <li>La pestaña <b>Categorías</b> muestra una lista de las categorías a las que
        cada producto puede pertenecer.</li>
        <li>La pestaña <b>Clientes</b> muestra una lista de los clientes que se han
        registrado en la tienda.</li>
        <li>La pestaña <b>Ventas</b> muestra una lista de las ventas realizadas.</li>
        <li>La pestaña <b>Administradores</b> muestra una lista de los adminstradores
        que tienen acceso a esta página.</li>
    </ul>
</p>