<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoWest</title>
	<link rel="icon" href="img/logo.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/gowest.css"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/gowest.js"></script>
    <script src="js/db.js"></script>
    <script src="js/urlParams.js"></script>
    <script src="js/formValidation.js"></script>
    <script src="js/modals.js"></script>
    <script src="js/ihtml.js"></script>
</head>
<body>
    <ihtml src="templates/navbar.html"></ihtml>
    <div class="container-fluid">
        <div class="row">
            <div id="adminSidebar" class="sidebar col-md-3 sticky-top">
				<button id="sidebarCollapseBtn" class="btn btn-gowest d-md-none collapsed"
					data-toggle="collapse" data-target="#adminSidebarGroup"><span class="icon fa fa-angle-up"></span></button>
                <div id="adminSidebarGroup" class="list-group collapse dont-collapse-sm">
                    <a href="#" onclick="moveTo('adminIndex.html',[['t','account']])" class="list-group-item list-group-item-gowest">Cuenta</a>
                    <a href="#" onclick="moveTo('adminIndex.html',[['t','products']])" class="list-group-item list-group-item-gowest">Productos</a>
                    <a href="#" onclick="moveTo('adminIndex.html',[['t','categories']])" class="list-group-item list-group-item-gowest">Categorías</a>
                    <a href="#" onclick="moveTo('adminIndex.html',[['t','clients']])" class="list-group-item list-group-item-gowest">Clientes</a>
                    <a href="#" onclick="moveTo('adminIndex.html',[['t','sales']])" class="list-group-item list-group-item-gowest">Ventas</a>
                    <a href="#" onclick="moveTo('adminIndex.html',[['t','admins']])" class="list-group-item list-group-item-gowest">Adminstradores</a>
                    <div class="list-group-item list-group-item-last d-none d-md-block"></div>
                </div>
            </div>
            <div id="adminContent" class="col-md-9">
                <script>
					clearParamsKeep(["u","t"]);
                    var i=document.createElement("ihtml");
                    var tabFile="adminWelcome.html";
                    if(params["t"])
                    switch(params["t"]){
						case "account":
                            tabFile="adminAccount.html"; break;
                        case "products":
                            tabFile="adminProducts.html"; break;
                        case "categories":
                            tabFile="adminCategories.html"; break;
                        case "clients":
                            tabFile="adminClients.html"; break;
                        case "sales":
                            tabFile="adminSales.html"; break;
                        case "admins":
                            tabFile="adminAdministrators.html"; break;
                    }
                    i.setAttribute("src","templates/"+tabFile)
                    get("adminContent").appendChild(i)
                    loadFromElement(i);
                </script>
            </div>
        </div>
    </div>
</body>
</html>