{% extends 'core/templates/clientViewTemplate.html' %}
{% block 'clientContent' %}
<div class="container mt-3">
	<h4>Datos</h4>
	<form action="{% url 'processClientAccountChanges' type='data' %}" method="POST" onsubmit="validateClientAccountForm(event)">
	{% csrf_token %}
		<div class="row form-group">
			<div class="col-sm-6">
				<label for="name">Nombre</label>
				<input id="clientName" name="updateClientName" class="form-control" value="{{ user.name }}">
			</div>
			<div class="col-sm-6">
				<label for="surname">Apellido</label>
				<input id="clientSurname" name="updateClientSurname" class="form-control" value="{{ user.surname }}">
			</div>
		</div>
		<div class="form-group">
			<label for="mail">Correo</label>
			<div id="clientMail">{{ user.mail }}</div>
		</div>
		<div class="form-group">
			<label for="phone">Teléfono</label>
			<input id="clientPhone" name="updateClientPhone" class="form-control" value="{{ user.phone }}">
		</div>
		<div class="form-group text-right">
			<input id="clientSaveData" type="submit" value="Guardar" class="btn btn-success">
		</div>
	</form>
	<hr>
	<h4>Seguridad</h4>
	<form action="{% url 'processClientAccountChanges' type='password' %}" method="POST" onsubmit="validateClientPasswordForm(event)">
	{% csrf_token %}
		{% if request.session.recoverPass %}
			<div class="alert alert-danger" role="alert">Ha ingresado mediante la recuperación de contraseña. Ingrese una nueva contraseña.</div>
		{% else %}
			<div class="form-group">
				<label for="oldPassword">Contraseña actual</label>
				<input type="password" id="oldPassword" name="updateClientOldPassword" class="form-control">
			</div>
		{% endif %}
		<div class="row form-group">
			<div class="col-sm-6">
				<label for="pass">Nueva Contraseña</label>
				<input id="clientPass" type="password" name="updateClientPassword" class="form-control">
			</div>
			<div class="col-sm-6">
				<label for="newPassConfirm">Repetir Nueva Contraseña</label>
				<input id="clientPassConfirm" type="password" name="updateClientPasswordConfirm" class="form-control">
			</div>
			<div id="passGuides">
				Su contraseña debe tener lo siguiente:
				<ul>
					<li>Longitud mínima de 8</li>
					<li>Longitud máxima de 40</li>
					<li>Incluír dígitos numéricos</li>
					<li>Incluir al menos uno de los siguientes caractreres: ! # @ $ % &</li>
					<li>Incluír al menos una letra mayúscula</li>
				</ul>
			</div>
		</div>
		<div class="form-group text-right">
			<input id="clientSaveSecurity" type="submit" value="Guardar Contraseña" class="btn btn-success">
		</div>
	</form>
	<form action="{% url 'processClientAccountChanges' type='secQuestion' %}" method="POST" onsubmit="validateClientSecQuestionForm(event)">
	{% csrf_token %}
		<div class="form-group">
			<label for="oldSecAnswer">Ingrese su respuesta de seguridad actual: </label>
			<span>{{ user.secQuestion.question }}</span>
			<input id="oldSecAnswer" name="updateClientOldSecAnswer" class="form-control">
		</div>
		<div class="row form-group">
			<div class="col-sm-6">
				<label for="secQuestion">Cambiar Pregunta de Seguridad</label>
				<select id="clientSecQuestion" name="updateClientSecQuestion" class="form-control" value="{# SESSION['user'].secQuestion.id #}">
					{% for secQuestion in secQuestions %}
						<option value="{{ secQuestion.id }}" {% if secQuestion.id == user.secQuestion.id %}selected{% endif %}>{{ secQuestion.question }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-6">
				<label for="secAnswer">Cambiar Respuesta de Seguridad</label>
				<input id="clientSecAnswer" name="updateClientSecAnswer" class="form-control">
			</div>
		</div>
		<div class="form-group text-right">
			<input id="clientSaveSecurity" type="submit" value="Guardar Datos de Recuperación" class="btn btn-success">
		</div>
	</form>
	<hr>
	<h4>Direcciones</h4>
	<div class="table-responsive">
		<table class="table table-hover align-middle">
			<tbody id="tableAddressesBody">
				{% for address in addresses %}
					<tr>
						<td data-type="string">{{ address.streetName }} {{ address.streetNumber }}, {{ address.district.name }}</td>
						<td class="text-right"><button class="btn btn-success" data-id="{{ address.id }}" data-toggle="modal" data-target="#addressDataModal" onclick="prepareAddressModal(this)"><span class="icon fa fa-pencil"></span></button>
						<button class="btn btn-danger" data-toggle="modal" data-id="{{ address.id }}" data-target="#deleteAlertModal" onclick="confirmDeleteAddress(this)"><span class="icon fa fa-trash"></span></button></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="container p-3 fr text-right">
		<button class="btn btn-success" data-toggle="modal" data-target="#addressDataModal" onclick="prepareAddressModal()">Añadir Dirección</button>
	</div>
</div>
{% include 'core/modals/addressDataModal.html' %}
{% include 'core/modals/deleteAlertModal.html' %}
{% endblock 'clientContent' %}