{% extends 'core/templates/clientViewTemplate.html' %}
{% block 'clientContent' %}
<div class="table-responsive">
	<table class="table table-hover align-middle">
		<thead>
			<tr>
			<th>Fecha Venta</th>
			<th class="d-none d-sm-table-cell">Fecha Entrega</th>
			<th>Estado</th>
			<th></th>
			</tr>
		</thead>
		<tbody id="tableSalesBody">
			{% for sale in sales %}
				<tr>
				<td data-type="date">{{ sale.saleDate }}</td>
				<td class="d-none d-sm-table-cell" data-type="date">
					{% if sale.deliveryDate %}
						{{ sale.deliveryDate }}
					{% else %}
						<i>No entregada</i>
					{% endif %}
				</td>
				<td class="saleStatus" data-type="string">{{ sale.status }}</td>
				<td class="text-right">
				{% if sale.status == "Despachada" %}
					<button class="btn btn-primary" data-toggle="modal" data-target="#saleAlertModal" onclick="confirmSaleReception(this)" data-id="{{ sale.id }}">
						<span class="icon fa fa-shopping-bag"></span></button>
				{% endif %}
				{% if sale.status == "Carrito" %}
					<a class="btn btn-secondary" href="{% url 'cart' %}">
						<span class="icon fa fa-shopping-cart"></span></a>
				{% endif %}
				<button class="btn btn-success" data-toggle="modal" data-target="#saleDataModal" onclick="prepareSaleModal(this)" data-id="{{ sale.id }}">
					<span class="icon fa fa-search"></span></button>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% include 'core/modals/saleDataModal.html' %}
{% include 'core/modals/saleAlertModal.html' %}
{% endblock 'clientContent' %}