<script src="js/db.js"></script>
<script src="js/urlParams.js"></script>
<script>
	var url = new URL(window.location.href);
	var urlParams = url.searchParams;
	if(urlParams.get("mail")){
		selectAllWhere("users",(i)=>{return i["mail"]==urlParams.get("mail")}).then(data=>{
			if(data.length==0){
				history.back();
			}
			clearParams();
			params["u"]=data[0]["id"];
			if (data[0]["roleID"]==0)
				moveTo("adminIndex.html");
			else
				moveTo("index.html")
		})
	} else history.back();
</script>