<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GoWest</title>
		<link rel="icon" href="{% static 'core/img/logo.png' %}"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'core/css/gowest.css' %}"/>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
		<script src="{% static 'core/js/gowest.js' %}"></script>
		<script src="{% static 'core/js/db.js' %}"></script>
		<script src="{% static 'core/js/urlParams.js' %}"></script>
		<script src="{% static 'core/js/formValidation.js' %}"></script>
		<script src="{% static 'core/js/modals.js' %}"></script>
		<script src="{% static 'core/js/ihtml.js' %}" defer></script>
	</head>
<body>
	{% #Include navbar.html template %}
	<div class="container-fluid bg-gowest" id="bradcrumbsHolder">
		<div class="breadcrumbs">
			<a id="breadcrumbCategory" href="{% #url depends on current product's category %}"></a>
			/
			<a id="breadcrumbProduct" href="{% #url depends on current product %"></a>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<div id="productImageHolder">
					<img id="productImage"></img>
				</div>
			</div>
			<div class="col-sm-7">
				<div id="productDataHolder">
					<div id="productName"></div>
					<div id="productPrice"></div>
					<div id="productDescription"></div>
					<div id="saleControls" class="row">
						<input id="addToCartUnits" name="units" class="form-control mr-2 col-3" type="number" value=1 onchange="validateAddToCart(this)">
						<input id="addToCartProductReturn" type="hidden" name="p">
						<button class="btn btn-success" id="addToCartBtn" onclick="addToCart()">Añadir al Carrito</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>