<div class="modal fade" id="clientDataModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<button type="button" class="form-close" data-dismiss="modal"></button>
			<div class="modal-body">
				<form action="adminIndex.html?t=clients">
					<div class="row">
						<div class="col-4"><label class="f-b">Nombre</label></div>
						<div class="col-8"><span id="clientFormName" class="form-value"></span></div>
					</div>
					<div class="row">
						<div class="col-4"><label class="f-b">Apellido</label></div>
						<div class="col-8"><span id="clientFormSurname" class="form-value"></span></div>
					</div>
					<div class="row">
						<div class="col-4"><label class="f-b">RUT</label></div>
						<div class="col-8"><span id="clientFormRUT" class="form-value"></span></div>
					</div>
					<div class="row">
						<div class="col-4"><label class="f-b">Correo</label></div>
						<div class="col-8"><span id="clientFormMail" class="form-value"></span></div>
					</div>
					<div class="row">
						<div class="col-4"><label class="f-b">Teléfono</label></div>
						<div class="col-8"><span id="clientFormPhone" class="form-value"></span></div>
					</div>
					<div class="row">
						<div class="col-4"><label class="f-b">Direcciones</label></div>
						<div class="col-8" id="clientFormAddressesHolder"></div>
					</div>
					<div class="form-group float-right">
						<button type="button" class="btn btn-success" class="close" data-dismiss="modal">Cerrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>