{% load static %}
<div id="gallery" class="container-fluid">
	{% for category in galleries %}
		<div>
			<div class="row bg-gowest categoryTitle">
				<a href="{% url 'category' category.id %}">{{ category.name }}</a>
				{% if request.session.uRole is not None and request.session.uRole == "admin" %}
					<a class="btn btn-gowest ml-auto" id="categoryEditBtn_{{ category.id }}" href="{% url 'editCategory' id=category.id %}">Editar Categoría</a>
				{% endif %}
			</div>
			<div class="row galleryRow">
				{% for product in category.products %}
					<div class="col-sm-3">
						<div class="galleryItem">
							<a class="galleryItemLink" href="{% url 'product' product.id %}">
								<img class="galleryItemImage mx-auto d-block" src="{{ product.image.url }}">
								<div class='galleryItemLabel'>{{ product.name }}</div>
								<div class='galleryItemPrice'>${{ product.price }}</div>
							</a>
							{% if request.session.uRole == 'client' %}
								<button class='btn btn-success galleryCartBtn' onclick='addToCart({{ product.id }}, 1)'>Añadir al carrito</button>
							{% endif %}
						</div>
					</div>
				{% endfor %}
				{% if category|length == 0 %}
					<div>Esta categoría está vacía</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}
</div>