{% load static %}
<nav id="topNavbar" class="navbar navbar-expand navbar-dark bg-gowest-dark sticky-top">
	{% if request.session.uRole != "client" and request.session.uRole != "admin" %}
    <a id="navbar-brand" class="navbar-brand" href="{% url 'index' %}">
		<img class="navbar-brand-image" src="{% static 'core/img/logo.png' %}">
		<span class="navbar-brand-name d-none d-sm-inline">GoWest</span>
	</a>
    <ul id="navbarVisit" class="navbar-nav navbar-nav-right">
        <li class="nav-item">
			<a class="btn btn-gowest no-wrap" id="navbarCartBtn" href="{% url 'cart' %}" data-units="0">
				<span class="icon fa fa-shopping-cart"></span>
				<span id="navbarCartUnits" class="badge badge-pill badge-danger hidden">0</span>
			</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-gowest" href="{% url 'signup' %}" type="button">Registrarse</a>
        </li>
		<li class="nav-item">
			<button class="btn btn-gowest" data-toggle="modal" data-target="#loginModal">Ingresar</button>
		</li>
    </ul>
	{% endif %}
	{% if request.session.uRole == "client" %}
    <a id="navbar-brand" class="navbar-brand" href="{% url 'index' %}">
		<img class="navbar-brand-image" src="{% static 'core/img/logo.png' %}">
		<span class="navbar-brand-name d-none d-sm-inline">GoWest</span>
	</a>
	<ul id="navbarClient" class="navbar-nav navbar-nav-right">
		<li class="nav-item">
			<span class="userWelcome text-right">{{ request.session.uName }} {{ request.session.uSurname }}</span>
		</li>
        <li class="nav-item">
			<a class="btn btn-gowest no-wrap" id="navbarCartBtn" href="{% url 'cart' %}" data-units="0">
				<span class="icon fa fa-shopping-cart"></span>
				<span id="navbarCartUnits" class="badge badge-pill badge-danger hidden">0</span>
			</a>
        </li>
        <li class="nav-item">
          <a id="navLinkAccount" class="btn btn-gowest" href="{% url 'clientAccount' %}">Cuenta</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-gowest" href="{% url 'logOff' %}" type="button"><span class="icon fa fa-power-off"></span></a>
        </li>
    </ul>
	{% endif %}
	{% if request.session.uRole == "admin" %}
    <a id="navbar-brand" class="navbar-brand" href="{% url 'adminIndex' %}">
		<img class="navbar-brand-image" src="{% static 'core/img/logo.png' %}">
		<span class="navbar-brand-name d-none d-sm-inline">GoWest</span>
	</a>
    <ul id="navbarAdmin" class="navbar-nav navbar-nav-right">
		<li class="nav-item">
			<span class="userWelcome text-right">{{ request.session.uName }} {{ request.session.uSurname }}</span>
		</li>
		<li class="nav-item">
			<a class="btn btn-gowest" href="{% url 'logOff' %}" type="button">
				<span class="icon fa fa-power-off"></span>
			</a>
		</li>
	</ul>
	{% endif %}
</nav>
{% if request.session.uRole != "admin" %}
<ul id="categoryTabsList" class="nav bg-gowest-dark">
	{% for category in categories %}
	<li id="catTab_{{ category.id }}" class="nav-item bg-gowest-dark">
		{# give the a tag the active class if in the correct category view #}
		<a class="btn btn-gowest" href="{% url 'category' id=category.id %}">{{ category.name }}</a>
	</li>
	{% endfor %}
</ul>
{% endif %}
{% include 'core/modals/loginModal.html' %}
{# js code to update the cart button badge value #}
<!-- script>
	if(params["cart"]){
		get("navbarCartBtn").dataset["units"]=params["cart"];
		get("navbarCartUnits").innerText=params["cart"];
		get("navbarCartUnits").classList.remove("hidden");
	}
</script -->