<div class="modal fade" id="productDataModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<button type="button" class="form-close" data-dismiss="modal"></button>
			<div class="modal-body">
				<form action="adminIndex.html" onsubmit="validateProductModal(event)">
					<div class="form-group">
						<label for="image">Imagen</label>
						<div class="form-image-input">
							<img id="productFormImagePreview">
							<input type="file" name="image" class="form-control" id="productFormImage">
						</div>
					</div>
					<div class="form-group">
						<label for="name">Nombre</label>
						<input type="text" name="name" class="form-control" id="productFormName">
					</div>
					<div class="form-group">
						<label for="price">Precio</label>
						<input type="number" name="price" class="form-control" id="productFormPrice">
					</div>
					<div class="form-group">
						<label for="stock">Stock</label>
						<input type="number" name="stock" class="form-control" id="productFormStock">
					</div>
					<div class="form-group">
						<label for="category">Categoría</label>
						<select name="category" class="form-control" id="productFormCategory">
						</select>
					</div>
					<div class="form-group">
						<label for="description">Descripción</label>
						<textarea name="description" class="form-control" id="productFormDescription"></textarea>
					</div>
					<div class="form-group float-right">
						<button type="button" class="btn" class="close" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-success">Ingresar</button>
					</div>
					<input type="hidden" name="update" value="false" id="productFormUpdate">
					<input type="hidden" name="t" value="products">
					<input id="productFormUser" type="hidden" name="u">
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	get("productFormUser").value=params["u"];
</script>