<div class="modal fade" id="administratorDataModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<button type="button" class="form-close" data-dismiss="modal"></button>
			<div class="modal-body">
				<form id="adminFormShow" action="{% url 'adminAdministrators' %}">
				{% csrf_token %}
					<div class="row">
						<div class="col-4"><label class="f-b">Nombre</label></div>
						<div class="col-8"><span id="adminFormShowName" class="form-value"></span></div>
					</div>
					<div class="row">
						<div class="col-4"><label class="f-b">Apellido</label></div>
						<div class="col-8"><span id="adminFormShowSurname" class="form-value"></span></div>
					</div>
					<div class="row">
						<div class="col-4"><label class="f-b">RUT</label></div>
						<div class="col-8"><span id="adminFormShowRUT" class="form-value"></span></div>
					</div>
					<div class="row">
						<div class="col-4"><label class="f-b">Correo</label></div>
						<div class="col-8"><span id="adminFormShowMail" class="form-value"></span></div>
					</div>
					<div class="row">
						<div class="col-4"><label class="f-b">Teléfono</label></div>
						<div class="col-8"><span id="adminFormShowPhone" class="form-value"></span></div>
					</div>
					<div class="form-group float-right">
						<button type="button" class="btn btn-success" class="close" data-dismiss="modal">Cerrar</button>
					</div>
				</form>
				<form id="adminFormNew" action="{% url 'createAdministrator' %}" method="POST" onsubmit="validateAdminDataForm(event)">
				{% csrf_token %}
					<div class="form-group">
						<label for="name">Nombre</label>
						<input type="text" name="adminFormNewName" class="form-control" id="adminFormNewName">
					</div>
					<div class="form-group">
						<label for="surname">Apellido</label>
						<input type="text" name="adminFormNewSurname" class="form-control" id="adminFormNewSurname">
					</div>
					<div class="form-group">
						<label for="rut">RUT</label>
						<input type="text" name="adminFormNewRUT" class="form-control" id="adminFormNewRUT" onchange="validateSignupRut(this)">
					</div>
					<div class="form-group">
						<label for="mail">Correo</label>
						<input type="email" name="adminFormNewMail" class="form-control" id="adminFormNewMail" onchange="validateSignupMail(this)">
					</div>
					<div class="form-group">
						<label for="phone">Teléfono</label>
						<input type="text" name="adminFormNewPhone" class="form-control" id="adminFormNewPhone">
					</div>
					<div class="form-group float-right">
						<button type="button" class="btn" class="close" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-success">Ingresar</button>
					</div>
					<input id="adminSecFormUser" type="hidden" name="u">
				</form>
			</div>
		</div>
	</div>
</div>