<div class="modal fade" id="categoryDataModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<button type="button" class="form-close" data-dismiss="modal"></button>
			<div class="modal-body">
				<form action="{% url 'createCategory' %}" method="POST" data-id="" onsubmit="validateCategoryForm(event)">
					{% csrf_token %}
					<div class="form-group">
						<label for="name">Nombre</label>
						<input type="text" name="categoryName" class="form-control" id="categoryFormName">
					</div>
					<div class="form-group float-right">
						<button type="button" class="btn" class="close" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-success">Ingresar</button>
					</div>
					<input type="hidden" name="update" value="false" id="categoryFormUpdate">
				</form>
			</div>
		</div>
	</div>
</div>